<div class="ipost clearfix bottommargin-sm" name="">
  <div class="col_half nobottommargin">
    <div class="entry-image">
      <a href="<perch:content id="link" type="text" label="Link"/>" target="_blank" name="<perch:content id="anchor-slug" type="slug" label="Anchor Slug" for="listing-title" editable="true" indelible="true" />">
        <img class="image_fade" src="<perch:content id="image" type="image" label="Image" required="true" />" alt="<perch:content id="listing-title" type="text" label="Listing Title" title="true" required="true" />">
      </a>
    </div>
  </div>
  <div class="col_half nobottommargin col_last">
    <div class="entry-title">
      <h3>
        <a href="<perch:content id="link" type="text" label="Link"/>" target="_blank">
          <perch:content id="listing-title" type="text" label="Listing Title" title="true" required="true" />
        </a>
      </h3>
    </div>
    <ul class="entry-meta clearfix">
      <li><i class="fa fa-map-marker"></i> <perch:content id="location" type="text" label="Location/Area" required="true"/></li>
      <perch:repeater id="contact-number" label="Phone Numbers">
        <li><i class="fa fa-phone"></i> <perch:content id="phone" type="text" label="Phone Number"/></li>
      </perch:repeater>
    </ul>

    <perch:if exists="email">
      <ul class="entry-meta clearfix">
        <li><i class="fa fa-envelope-o"></i><a href="mailto:<perch:content id="email" type="text" label="E-mail"/>"> <perch:content id="email" type="text" label="E-mail"/></a></li>
      </ul>
    </perch:if>

    <div class="entry-content">
      <p><perch:content id="description" type="textarea" label="Description" size="xs" /></p>
      <perch:if exists="link">
      <a href="<perch:content id="link" type="text" label="Link"/>" class="btn btn-danger readmore">Read More</a>
      </perch:if>
    </div>

    <p style="display:none;"><perch:content id="choice" type="select" label="Corresponding Listings" options="No, Yes" /></p>
    <perch:if id="choice" value="Yes">
    <ul class="entry-extra clearfix">
      <li>Related Listings:</li>
      <perch:repeater id="co-listings" label="Co-Lisings">
        <li>
          <a href="<perch:content id="co-listing-link" type="text" label="Link" />" title="<perch:content id="co-listing-descip" type="text" label="Description" />">
            <i class="fa fa-<perch:content id="co-listing-icon" type="select" label="Icon" options="Accommodations|bed, Marinas|ship, Activities|ticket, Restaurants|cutlery, Shopping|shopping-cart" />"></i>
          </a>
        </li>
      </perch:repeater>
    </ul>
    </perch:if>

    <perch:related id="islands" collection="Islands" label="Island" required="true">
      <p style="display:none;"><perch:content id="name" /></p>
    </perch:related>

    <perch:categories id="categories" label="Industry" set="industry" required="true">
    </perch:categories>

  </div>
</div>

<div class="line"></div>
