<div class="widget clearfix">
  <a href="<perch:content id="link" type="text" label="link" />">
    <img class="aligncenter" height="250" src="<perch:content id="image" type="image" label="Image" required="true" />" alt="<perch:content id="name" type="select" label="Island" options="Abaco, Acklins, Andros, Berry Islands, Bimini, Cat Island, Crooked Island, Eleuthera, Exuma, Grand Bahama, Inagua, Long Island, Mayaguana, New Providence, Rum Cay, San Salvador" required="true" /> Guide">
  </a>
</div>
