<h4><perch:content id="title" type="text" label="Title" /></h4>
<ul>
  <perch:repeater id="menu-links" label="Menu Links">
  <li>
    <a href="/<perch:content id="island" type="select" label="Island" options="Abaco|abaco, Acklins|acklins, Andros|andros, Berry Islands|berry-islands, Bimini|bimini, Cat Island|cat-island, Crooked Island|crooked-island, Eleuthera|eleuthera, Exuma|exuma, Grand Bahama|grand-bahama, Inagua|inagua, Long Island|long-island, Mayaguana|mayaguana, New Providence|new-providence, Rum Cay|rum-cay, San Salvador|san-salvador" required="true" />/<perch:content id="slug" type="select" label="Link Slug" options="General Information|general-information, Accommodations|accommodations, Restaurants|restaurants, Island Activities|activities, Marinas|marinas, Real Estate|real-estate, Shopping|shopping, Harbour Island|harbour-island, Spanish Wells|spanish-wells, Exuma Cays|exuma-cays, Paradise Island|paradise-island" />">
      <div>
        <i class="fa fa-angle-right fa-fw"></i> <perch:content id="text" type="text" label="Link Text" required="true" />
      </div>
    </a>
  </li>
  </perch:repeater>
</ul>
