<section id="slider" class="notoppadding boxed-slider">
  <div class="container clearfix nopadding">
    <a href="<perch:content id="link" type="text" label="Hero Link (Optional)" />">
      <img src="<perch:content id="image" type="image" label="Hero Image" required="true" />" alt="<perch:content id="alt" type="text" label="Hero Name" required="true" />" class="hideMobile">
      <img src="<perch:content id="image-m" type="image" label="Hero Mobile Image" required="true" />" alt="<perch:content id="alt" type="text" label="Hero Name" required="true" />" class="hideDesktop">
    </a>
  </div>
</section>
