<div class="events-calendar">
  <div class="events-calendar-header clearfix">
    <h2>Events Overview</h2>
    <h3 class="calendar-month-year">
      <span id="calendar-month" class="calendar-month"></span>
      <span id="calendar-year" class="calendar-year"></span>
      <nav>
        <span id="calendar-prev" class="calendar-prev"><i class="fa fa-angle-left"></i></span>
        <span id="calendar-next" class="calendar-next"><i class="fa fa-angle-right"></i></span>
        <span id="calendar-current" class="calendar-current" title="Got to current date"><i class="fa fa-refresh"></i></span>
      </nav>
    </h3>
  </div>
  <div id="calendar" class="fc-calendar-container"></div>
</div>
