<perch:form id="contactform" method="post" app="perch_forms" class="nobottommargin"  name="contactform" role="form">

  <div class="col_one_third">
    <perch:label for="name">Name <small>*</small></perch:label>
    <perch:input type="text" id="name" name="name" required="true" label="Name" value="" class="sm-form-control required" />
    <perch:error for="name" type="required">Please enter your name</perch:error>
  </div>

  <div class="col_one_third">
    <perch:label for="email">Email <small>*</small></perch:label>
    <perch:input type="email" id="email" name="email" required="true" label="Email" value="" class="required email sm-form-control" />
    <perch:error for="email" type="required">Please enter your email address</perch:error>
    <perch:error for="email" type="format">Please check your email address</perch:error>
  </div>

  <div class="col_one_third col_last">
    <perch:label for="phone">Phone</perch:label>
    <perch:input type="text" id="phone" name="phone" label="Name" value="" class="sm-form-control" />
  </div>

  <div class="clear"></div>

  <div class="col_two_third">
    <perch:label for="subject">Subject <small>*</small></perch:label>
    <perch:input type="text" id="subject" name="subject" required="true" label="Subject" value="" class="sm-form-control required" />
    <perch:error for="subject" type="required">Please enter a subject</perch:error>
  </div>

  <div class="clear"></div>

  <div class="col_full">
    <perch:label for="message">Message <small>*</small></perch:label>
    <perch:input type="textarea" id="message" required="true" name="message" label="Message" rows="6" cols="30" class="required sm-form-control" />
    <perch:error for="message" type="required">Please type a message</perch:error>
  </div>

  <div class="col_full hidden">
    <perch:input type="text" id="botcheck" name="botcheck" value="" class="sm-form-control" />
  </div>

  <div class="col_full">
    <perch:input type="submit" id="submit" name="submit" value="Send Message" class="button button-3d nomargin" />
  </div>

  <perch:success>
    <div id="contact-form-result" class="alert success">
      <p><i class="fa fa-check"></i> Thank you for contacting us. We will get back to you shortly.</p>
    </div>
  </perch:success>

</perch:form>
