<perch:before>
<div id="island-home" class="container clearfix">
  <div class="row clearfix">
    <div class="heading-block center">
      <h2>Upcoming Events</h2>
    </div>
</perch:before>

    <perch:every nth-child="3">
      <div class="col_one_third nobottommargin col_last">
    <perch:else />
      <div class="col_one_third nobottommargin">
    </perch:every>
      <div class="feature-box media-box">
        <div class="entry-date"><perch:events id="eventDateTime" format="j" /><span><perch:events id="eventDateTime" format="M" /></span></div>
        <!-- <div class="fbox-media">
          <img src="<perch:events id="image" type="image" label="Image" width="400" height="250" />" alt="<perch:events id="eventTitle" />">
        </div> -->
        <div class="fbox-desc">
          <h3>
            <perch:events id="eventTitle" />
            <span class="subtitle">
              <perch:events id="eventDateTime" format="D, j F Y" />
              <perch:if id="eventDateTime" match="neq" value="00:00:00" format="H:i:s">
                <perch:events id="eventDateTime" format="g:ia" />
              </perch:if>
            </span>
          </h3>
          <p><perch:events id="eventDescHTML" type="textarea" textile="true" editor="markitup" encode="false" /></p>
        </div>
      </div>
    </div>

<perch:after>
  </div>
</div>
</perch:after>
