<div class="col_one_third">
  <div class="widget clearfix">
    <h4><perch:content id="title" type="text" label="Title" required="true" /></h4>

    <div style="background: url('<perch:content id="bg-image" type="image" label="Background Image" />') no-repeat center center; background-size: 100%;">
      <address>
        <strong> <perch:content id="company" type="text" label="Company Name" required="true" /></strong><br>
        <perch:content id="description" type="text" label="Short Description" required="true" /><br>
        <perch:content id="location" type="text" label="Location" /><br>
      </address>
      <abbr title="Phone Number"><i class="fa fa-phone"></i></abbr>&nbsp; <perch:content id="phone" type="text" label="Phone" required="true" /><br>
      <abbr title="Email Address"><i class="fa fa-envelope"></i></abbr>&nbsp; <perch:content id="email" type="text" label="Email" required="true" />
    </div>

  </div>
</div>
