<div class="col_half">
  Copyrights &copy; <perch:content id="date" type="text" label="Year" required="true" /> All Rights Reserved by Bahamas Visitor's Guide.<br>
  <div class="copyright-links">
    <perch:repeater id="footer-links" label="Link Info" divider-before="Footer Links">
      <a href="<perch:content id="link" type="text" label="Link" required="true" />">
        <perch:content id="text" type="text" label="Link Text" required="true" />
      </a> /
    </perch:repeater>
  </div>
</div>
