<p style="display:none;"><perch:content id="social-title" type="text" label="Title" title="true" required="true" /></p>
<a href="<perch:content id="social-media" type="text" label="Link" />" class="social-icon si-small si-borderless si-<perch:content type="select" id="class" label="Type" options="Facebook|facebook, Twitter|twitter, Google Plus|google-plus, Instagram|instagram" />">
  <i class="fa fa-<perch:content type="select" id="class" label="Type" options="Facebook|facebook, Twitter|twitter, Google Plus|google-plus, Instagram|instagram" /> fa-lg fa-fw"></i>
  <i class="fa fa-<perch:content type="select" id="class" label="Type" options="Facebook|facebook, Twitter|twitter, Google Plus|google-plus, Instagram|instagram" /> fa-lg"></i>
</a>
