<div class="widget subscribe-widget clearfix">
  <h5><perch:content id="header-text" type="text" label="Header Text" /></h5>
  <div id="widget-subscribe-form-result" data-notify-type="success" data-notify-msg=""></div>
  <perch:form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
    <div class="input-group divcenter">
      <span class="input-group-addon"><i class="icon-email2"></i></span>
      <perch:input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
      <span class="input-group-btn">
        <button class="btn btn-success" type="submit">Subscribe</button>
      </span>
    </div>
  </form>
</div>
