<div class="col_one_third col_last">
  <div class="widget clearfix">

    <h4>Instagram</h4>
      <div id="instagram" class="widget clearfix">
        <div id="instagram-photos" class="instagram-photos masonry-thumbs col-3" data-user="<perch:content id="user" type="text" label="Data User" required="true" />" data-count="<perch:content id="count" type="text" label="Data Count" required="true" />" data-type="<perch:content id="type" type="text" label="Data Type" required="true" />"></div>
      </div>

  </div>

</div>
