<div id="logo">
  <a href="<perch:content id="link" type="text" label="Logo Link" required="true" />" class="standard-logo">
    <img src="<perch:content id="logo" type="image" label="Site Logo" required="true" />" alt="<perch:content id="alt-text" type="text" label="ALT Text" required="true" />">
  </a>
  <a href="<perch:content id="link" type="text" label="Logo Link" required="true" />" class="retina-logo">
    <img src="<perch:content id="logo" type="image" label="Site Logo" required="true" />" alt="<perch:content id="alt-text" type="text" label="ALT Text" required="true" />">
  </a>
</div>
