<div class="bottommargin topmargin">
  <a href="<perch:content id="link" type="text" label="Ad Link" />">
    <img id="desktopAd" src="<perch:content id="image" type="image" label="Desktop Ad" required="true" />" alt="<perch:content id="name" type="text" label="Ad Name" />" class="aligncenter notopmargin nobottommargin">
    <img id="mobileAd" src="<perch:content id="image-m" type="image" label="Mobile Ad" required="true" />" alt="<perch:content id="name" type="text" label="Ad Name" />" class="aligncenter notopmargin nobottommargin">
  </a>
</div>
