<article class="portfolio-item pf-media pf-icons">
  <div class="portfolio-image">
    <a href="portfolio-single.html">
      <img src="<perch:gallery id="small" type="image"/>" style="width:100%; height:100%;" alt="<perch:content type="text" id="alt" label="Description" required="true" help="e.g. Photo of MD John Smith with his best wig on" title="true" />">
    </a>
    <div class="portfolio-overlay">
      <a href="<perch:gallery type="image" id="main" />" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
    </div>
  </div>
</article>

<perch:gallery id="image" type="image" width="640" height="480"/>